---
title: Serradas.org
keywords: Ruben Serradas, personal website, multilingual, projects, interests, blog
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ description }}" />
    <meta name="keywords" content="{{ keywords }}" />
    <meta name="generator" content="{{ eleventy.generator }}">
    <title>{{ title }}</title>
    <style>
        {% include "index.css" %}
    </style>
    <link rel="icon" href="/img/favicon.ico"/>
</head>
{{ content }}
</html>
