---
title: Serradas.org
keywords: Ruben Serradas, personal website, multilingual, projects, interests, blog
---
<!DOCTYPE html>
<html lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ description }}" />
    <meta name="keywords" content="{{ keywords }}" />
    <meta name="generator" content="{{ eleventy.generator }}">
    
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://serradas.org{{ page.url }}">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:image" content="{{ '/img/og-image.png' | url }}">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://serradas.org{{ page.url }}">
    <meta property="twitter:title" content="{{ title }}">
    <meta property="twitter:description" content="{{ description }}">
    
    <title>{{ title }}</title>
    <link rel="canonical" href="https://serradas.org{{ page.url }}">
    <style>
        {% include "index.css" %}
    </style>
		<link rel="icon" href="{{'/img/favicon.ico' | url}}"/>
</head>
{{ content }}
</html>
